@font-face {
font-family: 'Myriad Pro Light';
src: url('/stylesheets/Myriad Pro Light.otf');
}
.text {
font-family:'Myriad Pro Light', Helvetica;
font-weight:100;
}
/*
font-family
font-weight
font-color
font-size
text-align
text-decoration
text-transform
text-indent
letter-spacing
line-height
text-direction
word-spacing
*/
